body {
    font-family: Inter;
    color: white;
    background: #303030;
    margin: 0;
    font-weight: normal;
    overflow: hidden;
    box-sizing: border-box;
}

a{
    color: white;
}

div{
    background: black;
    margin-bottom: 30px;
}

input[type="submit"]{
    background: #707070;
}

input, select, option{
    background: black;
    color: white;
}


.container{
    height: auto;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 75%;
    overflow: hidden;
}

.sub_content{
    width: 85%;
    height: auto;
    position: relative;
    margin: auto;
    top: 15%;
}

.navbar{
    width: 100%;
    height: 55px;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

#mainTitle{
    position: relative;
    top: 10px;
    left: 50%;
    font-size: xx-large;
    font-weight: bold;
}

#title{
    position: relative;
    top: 10px;
    left: 1%;
    font-size: xx-large;
    font-weight: bold;
}